# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

Datasets/flow-farm_test.csv

Datasets/flow-farm_train_smote.csv

Datasets/flow-farm_train_smotenc.csv

Datasets/flow-farm_train.csv

Datasets/flow-farm.csv
datasets/flow-farm.csv
datasets/flow-farm_test.csv
datasets/flow-farm_train.csv
datasets/flow-farm_train_smote.csv
datasets/flow-farm_train_smotenc.csv
bayesian/binary-dnn-bayesian_optimization/oracle.json
bayesian/binary-dnn-bayesian_optimization/trial_00/checkpoint
bayesian/binary-dnn-bayesian_optimization/trial_00/checkpoint.data-00000-of-00001
bayesian/binary-dnn-bayesian_optimization/trial_00/checkpoint.index
bayesian/binary-dnn-bayesian_optimization/trial_00/trial.json
bayesian/binary-dnn-bayesian_optimization/trial_01/checkpoint
bayesian/binary-dnn-bayesian_optimization/trial_01/checkpoint.data-00000-of-00001
bayesian/binary-dnn-bayesian_optimization/trial_01/checkpoint.index
bayesian/binary-dnn-bayesian_optimization/trial_01/trial.json
bayesian/binary-dnn-bayesian_optimization/trial_02/checkpoint
bayesian/binary-dnn-bayesian_optimization/trial_02/checkpoint.data-00000-of-00001
bayesian/binary-dnn-bayesian_optimization/trial_02/checkpoint.index
bayesian/binary-dnn-bayesian_optimization/trial_02/trial.json
bayesian/binary-dnn-bayesian_optimization/trial_03/checkpoint
bayesian/binary-dnn-bayesian_optimization/trial_03/checkpoint.data-00000-of-00001
bayesian/binary-dnn-bayesian_optimization/trial_03/checkpoint.index
bayesian/binary-dnn-bayesian_optimization/trial_03/trial.json
bayesian/binary-dnn-bayesian_optimization/trial_04/checkpoint
bayesian/binary-dnn-bayesian_optimization/trial_04/checkpoint.data-00000-of-00001
bayesian/binary-dnn-bayesian_optimization/trial_04/checkpoint.index
bayesian/binary-dnn-bayesian_optimization/trial_04/trial.json
bayesian/binary-dnn-bayesian_optimization/trial_05/checkpoint
bayesian/binary-dnn-bayesian_optimization/trial_05/checkpoint.data-00000-of-00001
bayesian/binary-dnn-bayesian_optimization/trial_05/checkpoint.index
bayesian/binary-dnn-bayesian_optimization/trial_05/trial.json
bayesian/binary-dnn-bayesian_optimization/trial_06/checkpoint
bayesian/binary-dnn-bayesian_optimization/trial_06/checkpoint.data-00000-of-00001
bayesian/binary-dnn-bayesian_optimization/trial_06/checkpoint.index
bayesian/binary-dnn-bayesian_optimization/trial_06/trial.json
bayesian/binary-dnn-bayesian_optimization/trial_07/checkpoint
bayesian/binary-dnn-bayesian_optimization/trial_07/checkpoint.data-00000-of-00001
bayesian/binary-dnn-bayesian_optimization/trial_07/checkpoint.index
bayesian/binary-dnn-bayesian_optimization/trial_07/trial.json
bayesian/binary-dnn-bayesian_optimization/trial_08/checkpoint
bayesian/binary-dnn-bayesian_optimization/trial_08/checkpoint.data-00000-of-00001
bayesian/binary-dnn-bayesian_optimization/trial_08/checkpoint.index
bayesian/binary-dnn-bayesian_optimization/trial_08/trial.json
bayesian/binary-dnn-bayesian_optimization/trial_09/checkpoint
bayesian/binary-dnn-bayesian_optimization/trial_09/checkpoint.data-00000-of-00001
bayesian/binary-dnn-bayesian_optimization/trial_09/checkpoint.index
bayesian/binary-dnn-bayesian_optimization/trial_09/trial.json
bayesian/binary-dnn-bayesian_optimization/trial_10/checkpoint
bayesian/binary-dnn-bayesian_optimization/trial_10/checkpoint.data-00000-of-00001
bayesian/binary-dnn-bayesian_optimization/trial_10/checkpoint.index
bayesian/binary-dnn-bayesian_optimization/trial_10/trial.json
bayesian/binary-dnn-bayesian_optimization/trial_11/checkpoint
bayesian/binary-dnn-bayesian_optimization/trial_11/checkpoint.data-00000-of-00001
bayesian/binary-dnn-bayesian_optimization/trial_11/checkpoint.index
bayesian/binary-dnn-bayesian_optimization/trial_11/trial.json
bayesian/binary-dnn-bayesian_optimization/trial_12/checkpoint
bayesian/binary-dnn-bayesian_optimization/trial_12/checkpoint.data-00000-of-00001
bayesian/binary-dnn-bayesian_optimization/trial_12/checkpoint.index
bayesian/binary-dnn-bayesian_optimization/trial_12/trial.json
bayesian/binary-dnn-bayesian_optimization/trial_13/checkpoint
bayesian/binary-dnn-bayesian_optimization/trial_13/checkpoint.data-00000-of-00001
bayesian/binary-dnn-bayesian_optimization/trial_13/checkpoint.index
bayesian/binary-dnn-bayesian_optimization/trial_13/trial.json
bayesian/binary-dnn-bayesian_optimization/trial_14/checkpoint
bayesian/binary-dnn-bayesian_optimization/trial_14/checkpoint.data-00000-of-00001
bayesian/binary-dnn-bayesian_optimization/trial_14/checkpoint.index
bayesian/binary-dnn-bayesian_optimization/trial_14/trial.json
bayesian/binary-dnn-bayesian_optimization/trial_15/checkpoint
bayesian/binary-dnn-bayesian_optimization/trial_15/checkpoint.data-00000-of-00001
bayesian/binary-dnn-bayesian_optimization/trial_15/checkpoint.index
bayesian/binary-dnn-bayesian_optimization/trial_15/trial.json
bayesian/binary-dnn-bayesian_optimization/trial_16/checkpoint
bayesian/binary-dnn-bayesian_optimization/trial_16/checkpoint.data-00000-of-00001
bayesian/binary-dnn-bayesian_optimization/trial_16/checkpoint.index
bayesian/binary-dnn-bayesian_optimization/trial_16/trial.json
bayesian/binary-dnn-bayesian_optimization/trial_17/checkpoint
bayesian/binary-dnn-bayesian_optimization/trial_17/checkpoint.data-00000-of-00001
bayesian/binary-dnn-bayesian_optimization/trial_17/checkpoint.index
bayesian/binary-dnn-bayesian_optimization/trial_17/trial.json
bayesian/binary-dnn-bayesian_optimization/trial_18/checkpoint
bayesian/binary-dnn-bayesian_optimization/trial_18/checkpoint.data-00000-of-00001
bayesian/binary-dnn-bayesian_optimization/trial_18/checkpoint.index
bayesian/binary-dnn-bayesian_optimization/trial_18/trial.json
bayesian/binary-dnn-bayesian_optimization/trial_19/checkpoint
bayesian/binary-dnn-bayesian_optimization/trial_19/checkpoint.data-00000-of-00001
bayesian/binary-dnn-bayesian_optimization/trial_19/checkpoint.index
bayesian/binary-dnn-bayesian_optimization/trial_19/trial.json
bayesian/binary-dnn-bayesian_optimization/trial_20/checkpoint
bayesian/binary-dnn-bayesian_optimization/trial_20/checkpoint.data-00000-of-00001
bayesian/binary-dnn-bayesian_optimization/trial_20/checkpoint.index
bayesian/binary-dnn-bayesian_optimization/trial_20/trial.json
bayesian/binary-dnn-bayesian_optimization/trial_21/checkpoint
bayesian/binary-dnn-bayesian_optimization/trial_21/checkpoint.data-00000-of-00001
bayesian/binary-dnn-bayesian_optimization/trial_21/checkpoint.index
bayesian/binary-dnn-bayesian_optimization/trial_21/trial.json
bayesian/binary-dnn-bayesian_optimization/trial_22/checkpoint
bayesian/binary-dnn-bayesian_optimization/trial_22/checkpoint.data-00000-of-00001
bayesian/binary-dnn-bayesian_optimization/trial_22/checkpoint.index
bayesian/binary-dnn-bayesian_optimization/trial_22/trial.json
bayesian/binary-dnn-bayesian_optimization/trial_23/checkpoint
bayesian/binary-dnn-bayesian_optimization/trial_23/checkpoint.data-00000-of-00001
bayesian/binary-dnn-bayesian_optimization/trial_23/checkpoint.index
bayesian/binary-dnn-bayesian_optimization/trial_23/trial.json
bayesian/binary-dnn-bayesian_optimization/trial_24/checkpoint
bayesian/binary-dnn-bayesian_optimization/trial_24/checkpoint.data-00000-of-00001
bayesian/binary-dnn-bayesian_optimization/trial_24/checkpoint.index
bayesian/binary-dnn-bayesian_optimization/trial_24/trial.json
bayesian/binary-dnn-bayesian_optimization/trial_25/checkpoint
bayesian/binary-dnn-bayesian_optimization/trial_25/checkpoint.data-00000-of-00001
bayesian/binary-dnn-bayesian_optimization/trial_25/checkpoint.index
bayesian/binary-dnn-bayesian_optimization/trial_25/trial.json
bayesian/binary-dnn-bayesian_optimization/trial_26/checkpoint
bayesian/binary-dnn-bayesian_optimization/trial_26/checkpoint.data-00000-of-00001
bayesian/binary-dnn-bayesian_optimization/trial_26/checkpoint.index
bayesian/binary-dnn-bayesian_optimization/trial_26/trial.json
bayesian/binary-dnn-bayesian_optimization/trial_27/checkpoint
bayesian/binary-dnn-bayesian_optimization/trial_27/checkpoint.data-00000-of-00001
bayesian/binary-dnn-bayesian_optimization/trial_27/checkpoint.index
bayesian/binary-dnn-bayesian_optimization/trial_27/trial.json
bayesian/binary-dnn-bayesian_optimization/trial_28/checkpoint
bayesian/binary-dnn-bayesian_optimization/trial_28/checkpoint.data-00000-of-00001
bayesian/binary-dnn-bayesian_optimization/trial_28/checkpoint.index
bayesian/binary-dnn-bayesian_optimization/trial_28/trial.json
bayesian/binary-dnn-bayesian_optimization/trial_29/checkpoint
bayesian/binary-dnn-bayesian_optimization/trial_29/checkpoint.data-00000-of-00001
bayesian/binary-dnn-bayesian_optimization/trial_29/checkpoint.index
bayesian/binary-dnn-bayesian_optimization/trial_29/trial.json
bayesian/binary-dnn-bayesian_optimization/tuner0.json
bayesian/binary_nohup.out
bayesian/multi-class-dnn-bayesian_optimization/oracle.json
bayesian/multi-class-dnn-bayesian_optimization/trial_00/checkpoint
bayesian/multi-class-dnn-bayesian_optimization/trial_00/checkpoint.data-00000-of-00001
bayesian/multi-class-dnn-bayesian_optimization/trial_00/checkpoint.index
bayesian/multi-class-dnn-bayesian_optimization/trial_00/trial.json
bayesian/multi-class-dnn-bayesian_optimization/trial_01/checkpoint
bayesian/multi-class-dnn-bayesian_optimization/trial_01/checkpoint.data-00000-of-00001
bayesian/multi-class-dnn-bayesian_optimization/trial_01/checkpoint.index
bayesian/multi-class-dnn-bayesian_optimization/trial_01/trial.json
bayesian/multi-class-dnn-bayesian_optimization/trial_02/checkpoint
bayesian/multi-class-dnn-bayesian_optimization/trial_02/checkpoint.data-00000-of-00001
bayesian/multi-class-dnn-bayesian_optimization/trial_02/checkpoint.index
bayesian/multi-class-dnn-bayesian_optimization/trial_02/trial.json
bayesian/multi-class-dnn-bayesian_optimization/trial_03/checkpoint
bayesian/multi-class-dnn-bayesian_optimization/trial_03/checkpoint.data-00000-of-00001
bayesian/multi-class-dnn-bayesian_optimization/trial_03/checkpoint.index
bayesian/multi-class-dnn-bayesian_optimization/trial_03/trial.json
bayesian/multi-class-dnn-bayesian_optimization/trial_04/checkpoint
bayesian/multi-class-dnn-bayesian_optimization/trial_04/checkpoint.data-00000-of-00001
bayesian/multi-class-dnn-bayesian_optimization/trial_04/checkpoint.index
bayesian/multi-class-dnn-bayesian_optimization/trial_04/trial.json
bayesian/multi-class-dnn-bayesian_optimization/trial_05/checkpoint
bayesian/multi-class-dnn-bayesian_optimization/trial_05/checkpoint.data-00000-of-00001
bayesian/multi-class-dnn-bayesian_optimization/trial_05/checkpoint.index
bayesian/multi-class-dnn-bayesian_optimization/trial_05/trial.json
bayesian/multi-class-dnn-bayesian_optimization/trial_06/checkpoint
bayesian/multi-class-dnn-bayesian_optimization/trial_06/checkpoint.data-00000-of-00001
bayesian/multi-class-dnn-bayesian_optimization/trial_06/checkpoint.index
bayesian/multi-class-dnn-bayesian_optimization/trial_06/trial.json
bayesian/multi-class-dnn-bayesian_optimization/trial_07/checkpoint
bayesian/multi-class-dnn-bayesian_optimization/trial_07/checkpoint.data-00000-of-00001
bayesian/multi-class-dnn-bayesian_optimization/trial_07/checkpoint.index
bayesian/multi-class-dnn-bayesian_optimization/trial_07/trial.json
bayesian/multi-class-dnn-bayesian_optimization/trial_08/checkpoint
bayesian/multi-class-dnn-bayesian_optimization/trial_08/checkpoint.data-00000-of-00001
bayesian/multi-class-dnn-bayesian_optimization/trial_08/checkpoint.index
bayesian/multi-class-dnn-bayesian_optimization/trial_08/trial.json
bayesian/multi-class-dnn-bayesian_optimization/trial_09/checkpoint
bayesian/multi-class-dnn-bayesian_optimization/trial_09/checkpoint.data-00000-of-00001
bayesian/multi-class-dnn-bayesian_optimization/trial_09/checkpoint.index
bayesian/multi-class-dnn-bayesian_optimization/trial_09/trial.json
bayesian/multi-class-dnn-bayesian_optimization/trial_10/checkpoint
bayesian/multi-class-dnn-bayesian_optimization/trial_10/checkpoint.data-00000-of-00001
bayesian/multi-class-dnn-bayesian_optimization/trial_10/checkpoint.index
bayesian/multi-class-dnn-bayesian_optimization/trial_10/trial.json
bayesian/multi-class-dnn-bayesian_optimization/trial_11/checkpoint
bayesian/multi-class-dnn-bayesian_optimization/trial_11/checkpoint.data-00000-of-00001
bayesian/multi-class-dnn-bayesian_optimization/trial_11/checkpoint.index
bayesian/multi-class-dnn-bayesian_optimization/trial_11/trial.json
bayesian/multi-class-dnn-bayesian_optimization/trial_12/checkpoint
bayesian/multi-class-dnn-bayesian_optimization/trial_12/checkpoint.data-00000-of-00001
bayesian/multi-class-dnn-bayesian_optimization/trial_12/checkpoint.index
bayesian/multi-class-dnn-bayesian_optimization/trial_12/trial.json
bayesian/multi-class-dnn-bayesian_optimization/trial_13/checkpoint
bayesian/multi-class-dnn-bayesian_optimization/trial_13/checkpoint.data-00000-of-00001
bayesian/multi-class-dnn-bayesian_optimization/trial_13/checkpoint.index
bayesian/multi-class-dnn-bayesian_optimization/trial_13/trial.json
bayesian/multi-class-dnn-bayesian_optimization/trial_14/checkpoint
bayesian/multi-class-dnn-bayesian_optimization/trial_14/checkpoint.data-00000-of-00001
bayesian/multi-class-dnn-bayesian_optimization/trial_14/checkpoint.index
bayesian/multi-class-dnn-bayesian_optimization/trial_14/trial.json
bayesian/multi-class-dnn-bayesian_optimization/trial_15/checkpoint
bayesian/multi-class-dnn-bayesian_optimization/trial_15/checkpoint.data-00000-of-00001
bayesian/multi-class-dnn-bayesian_optimization/trial_15/checkpoint.index
bayesian/multi-class-dnn-bayesian_optimization/trial_15/trial.json
bayesian/multi-class-dnn-bayesian_optimization/trial_16/checkpoint
bayesian/multi-class-dnn-bayesian_optimization/trial_16/checkpoint.data-00000-of-00001
bayesian/multi-class-dnn-bayesian_optimization/trial_16/checkpoint.index
bayesian/multi-class-dnn-bayesian_optimization/trial_16/trial.json
bayesian/multi-class-dnn-bayesian_optimization/trial_17/checkpoint
bayesian/multi-class-dnn-bayesian_optimization/trial_17/checkpoint.data-00000-of-00001
bayesian/multi-class-dnn-bayesian_optimization/trial_17/checkpoint.index
bayesian/multi-class-dnn-bayesian_optimization/trial_17/trial.json
bayesian/multi-class-dnn-bayesian_optimization/trial_18/checkpoint
bayesian/multi-class-dnn-bayesian_optimization/trial_18/checkpoint.data-00000-of-00001
bayesian/multi-class-dnn-bayesian_optimization/trial_18/checkpoint.index
bayesian/multi-class-dnn-bayesian_optimization/trial_18/trial.json
bayesian/multi-class-dnn-bayesian_optimization/trial_19/checkpoint
bayesian/multi-class-dnn-bayesian_optimization/trial_19/checkpoint.data-00000-of-00001
bayesian/multi-class-dnn-bayesian_optimization/trial_19/checkpoint.index
bayesian/multi-class-dnn-bayesian_optimization/trial_19/trial.json
bayesian/multi-class-dnn-bayesian_optimization/trial_20/checkpoint
bayesian/multi-class-dnn-bayesian_optimization/trial_20/checkpoint.data-00000-of-00001
bayesian/multi-class-dnn-bayesian_optimization/trial_20/checkpoint.index
bayesian/multi-class-dnn-bayesian_optimization/trial_20/trial.json
bayesian/multi-class-dnn-bayesian_optimization/trial_21/checkpoint
bayesian/multi-class-dnn-bayesian_optimization/trial_21/checkpoint.data-00000-of-00001
bayesian/multi-class-dnn-bayesian_optimization/trial_21/checkpoint.index
bayesian/multi-class-dnn-bayesian_optimization/trial_21/trial.json
bayesian/multi-class-dnn-bayesian_optimization/trial_22/checkpoint
bayesian/multi-class-dnn-bayesian_optimization/trial_22/checkpoint.data-00000-of-00001
bayesian/multi-class-dnn-bayesian_optimization/trial_22/checkpoint.index
bayesian/multi-class-dnn-bayesian_optimization/trial_22/trial.json
bayesian/multi-class-dnn-bayesian_optimization/trial_23/checkpoint
bayesian/multi-class-dnn-bayesian_optimization/trial_23/checkpoint.data-00000-of-00001
bayesian/multi-class-dnn-bayesian_optimization/trial_23/checkpoint.index
bayesian/multi-class-dnn-bayesian_optimization/trial_23/trial.json
bayesian/multi-class-dnn-bayesian_optimization/trial_24/checkpoint
bayesian/multi-class-dnn-bayesian_optimization/trial_24/checkpoint.data-00000-of-00001
bayesian/multi-class-dnn-bayesian_optimization/trial_24/checkpoint.index
bayesian/multi-class-dnn-bayesian_optimization/trial_24/trial.json
bayesian/multi-class-dnn-bayesian_optimization/trial_25/checkpoint
bayesian/multi-class-dnn-bayesian_optimization/trial_25/checkpoint.data-00000-of-00001
bayesian/multi-class-dnn-bayesian_optimization/trial_25/checkpoint.index
bayesian/multi-class-dnn-bayesian_optimization/trial_25/trial.json
bayesian/multi-class-dnn-bayesian_optimization/trial_26/checkpoint
bayesian/multi-class-dnn-bayesian_optimization/trial_26/checkpoint.data-00000-of-00001
bayesian/multi-class-dnn-bayesian_optimization/trial_26/checkpoint.index
bayesian/multi-class-dnn-bayesian_optimization/trial_26/trial.json
bayesian/multi-class-dnn-bayesian_optimization/trial_27/checkpoint
bayesian/multi-class-dnn-bayesian_optimization/trial_27/checkpoint.data-00000-of-00001
bayesian/multi-class-dnn-bayesian_optimization/trial_27/checkpoint.index
bayesian/multi-class-dnn-bayesian_optimization/trial_27/trial.json
bayesian/multi-class-dnn-bayesian_optimization/trial_28/checkpoint
bayesian/multi-class-dnn-bayesian_optimization/trial_28/checkpoint.data-00000-of-00001
bayesian/multi-class-dnn-bayesian_optimization/trial_28/checkpoint.index
bayesian/multi-class-dnn-bayesian_optimization/trial_28/trial.json
bayesian/multi-class-dnn-bayesian_optimization/trial_29/checkpoint
bayesian/multi-class-dnn-bayesian_optimization/trial_29/checkpoint.data-00000-of-00001
bayesian/multi-class-dnn-bayesian_optimization/trial_29/checkpoint.index
bayesian/multi-class-dnn-bayesian_optimization/trial_29/trial.json
bayesian/multi-class-dnn-bayesian_optimization/tuner0.json
bayesian/nohup.out
